* {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
}
.navbar-brand img {
  width: 80px;
  height: 80px;
}
.btn-hover button:hover {
  background-color: white;
}
#Hero {
  background: url(https://cdn.prod.website-files.com/67aeecfcd8174bc09009ea9d/67b9f1f009b5a94487726d09_IMG_5402.avif);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; /* Makes it cover the whole area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  width: 100%;
}
#Hero-about {
  background-image: url(https://cdn.prod.website-files.com/67aeecfcd8174bc09009ea9d/67bb3d7a2d5282b24642dbbc_IMG_5638.avif);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; /* Makes it cover the whole area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  width: 100%;
}
.fosteringImg img {
  width: 600px;
  height: 400px;
  border-radius: 20px;
}
.cardbtn {
  margin-top: 123px;
}
.cardbtn2 {
  margin-top: 45px;
}
.devising img {
  border-radius: 20px;
  width: 650px;
}
.logo img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.about-page-img img {
  width: 650px;
  height: 500px;
  border-radius: 20px;
}
.sharping-img img{
  width: 600px;
  border-radius: 20px;
}